.sesion{
    width:20%;
    display:flex;
    justify-content: end;
    align-items: center;
    margin: 0 12px;
}
.anchor-sesion{
    padding: 0 .5em;
}
.anchor-sesion a:hover{
    color: var(--naranja);
}
.profile-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-sesion p{
    font-size: 1.25em;
}
.profile-sesion p span{
    color: var(--marron);
}