.sesion{
    width:20%;
    display:flex;
    justify-content: end;
    align-items: center;
    margin: 0 12px;
    .anchor-sesion{
        padding: 0 .5em;
        &:hover{
            color: var(--eosa);
        }
    }
}
.profile-sesion{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom:8px;
    .profile-sesion-cart-user{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        .profile-sesion-user{
            display: flex;
            flex-direction: column;
            font-size: 1.25em;
            span{
                color: var(--negro);
            }
        }
        .profile-sesion-cart{
            font-size: 24px;
            position: relative;
            span{
                position: absolute;
                background-color: red;
                padding: 4px 8px;
                top:0;
            }
        }
    }
}