.add-product{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 24px;
    .block-inputs{
        width:30%;
        padding: 12px 8px;
        margin:12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        label{
            width:80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            text-align: start;
            text-transform: uppercase;
            input,textarea,select,option{
                resize:none;
                field-sizing: content;
                width:100%;
                margin:4px 0;
                padding: 8px;
                display: flex;
                border-radius: 16px;
                border: 2.5px solid var(--rosa);
                background-color: var(--blanco);
                &:hover{outline: var(--naranja) solid 2.5px;}
                &:focus{
                    outline: none;
                }
            }
        }
    }
    .btn-enviar{
        width:100%;
        background-color: var(--blanco);
        border:none;
        input{
            display: flex;
            justify-content: start;
            align-items: center;
            cursor: pointer;
            width: 50%;
            height: 50px;
            border: 2px solid var(--rosa);
            border-radius: 16px;
            background-color: transparent;
            font-size: 24px;
            transition: all .1s ease-in-out;
            &:hover{
                box-shadow: inset 0px 0px 10px 1px var(--rosa);
            }
        }
    }
}
.delete-product{
    width:75%;
    .product-line{
        display: flex;
        margin: 8px 0;
        padding: 8px;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        border: 1px solid var(--rosa);
        &:hover{
            box-shadow: inset 0px 0px 10px 1px var(--rosa);
        }
        .product-info{
            width:80%;
            display: flex;
            justify-content: space-around;
        }
        .btn-delete{
            background-color: var(--blanco);
            border:2px solid var(--rosa);
            border-radius: 12px;
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: all .1s ease-in-out;
            span{
                font-size: 28px;
            }
            &:hover{
                transform: rotate(15deg);
            }
        }
    }
}
.update-product{
    display: flex;
    flex-direction: column;
    width: 80%;
    position:relative;
    .product-line{
        border-radius: 12px;
        border: 2px solid var(--rosa);
        width: 100%;
        display: flex;
        margin: 2px;
        margin: 8px 0;
        padding:4px;
        &:hover{
            box-shadow: inset 0px 0px 10px 1px var(--rosa);
        }
        .product-info{
            display: flex;
            width: 75%;
            justify-content: space-evenly;
            .minibox-date{
                background-color: red;
            }
        }
    }
    .btn-update{
        width: 25%;
        border-radius: 12px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        border: 2px solid var(--rosa);
        box-shadow: inset 0px 0px 10px 1px var(--rosa);
        span{
            transition: all .2s ease-in-out;
            margin:0 4px;
            font-size:24px
        };
        &:hover{
            span{
                transform: translateX(20px);
            }
        }
    }

}