.section-productos{
    padding: 0 5em;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(200px, auto);
    grid-auto-flow: row dense;
}