footer{
    background-color: var(--gris);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logoFooter{
    padding: 12px 48px;
    filter:grayscale(1) drop-shadow(0 0 .75em var(--rosa));
    transition: all .1s ease-in-out;
}
.logoFooter:hover{
    filter:grayscale(1) drop-shadow(0 0 1em var(--rosa));
}
.navbarFooter{
    width:75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ulFooter{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: start;
    line-height: 1.25em;
}
.linkFooter{
    font-size: .8em;
}
.redesFooter{
    padding: 12px 48px;
    display:flex;
    flex-direction: column;
    width: 25%;
    justify-content: space-around;
    align-items: start;
}
.redesFooter i {
    padding: 4px 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: start;

}
.redesFooter i p{
    font-size: 12px;
    padding: 4px 8px;
}
.redesFooter i:hover{
    color: var(--marron);
    cursor: pointer;
}